<% content_for :title, "FAQ" %>

<% header "Frequently Asked Questions" %>

<h4 style="margin-top: 25px; margin-bottom: 5px"><li>What is SeatSwappr?</li></h4>
SeatSwappr is currently an online marketplace for passengers to sell, search, buy and swap seats. Passengers may want to swap seats for many reasons, such as sitting next to family or friends, obnoxious passenger, more space, etc. SeatSwappr facilitates that swap by putting passengers in touch with each other.
 
<h4 style="margin-top: 25px; margin-bottom: 5px"><li>Can SeatSwappr issue new boarding passes?</li></h4>
Currently, SeatSwappr cannot issue new boarding passes. That is why we ask passengers to board with their original boarding passes and swap once on the plane. We hope to work with airlines to issue new boarding passes once both parties have agreed.

<h4 style="margin-top: 25px; margin-bottom: 5px"><li>Will there be a SeatSwappr app?
When?</li></h4>
Yes, SeatSwappr is working towards building an app for Android and iOS. Currently, SeatSwappr does not have a date for the release of the app.
 
<h4 style="margin-top: 25px; margin-bottom: 5px"><li>Where is SeatSwappr available?</li></h4>
SeatSwappr is available globally.
 
<h4 style="margin-top: 25px; margin-bottom: 5px"><li>Why would I want to sell or swap my seat?</li></h4>
Good Karma! If you are comfortable sitting in any seat and want to be accommodating to families, friends, and couples.
 
<h4 style="margin-top: 25px; margin-bottom: 5px"><li>Can I charge to swap my seat?</li></h4>
SeatSwappr is actively looking to make this a feature of the site. Stay tuned.
 
<h4 style="margin-top: 25px; margin-bottom: 5px"><li>What are some examples of people looking to swap seats?</li></h4>
A couple who booked last minute and do not have seats together, a family whose parents and children cannot don’t have seats together, a passenger looking for a window or aisle seat but has a middle seat right now, a passenger who may want a seat with more legroom, a passenger who wants to sit in the front of the plane to exit faster to catch their connection.
 
<h4 style="margin-top: 25px; margin-bottom: 5px"><li>Do airlines let passengers swap seats?</li></h4>
Yes, as long as both passengers have a issued ticket on the same flight. Seat swaps occur on most flights anyways. Swapping between cabins, such as First Class and Economy, is not allowed, but you can swap within your cabin. If swapping to an exit row, you must meet the needs of the Airlines exit row seating requirements.