<% content_for :title, "SeatSwappr-Coming Soon" %>

<body class="landing">

	<% content_for :top_content do %>
	  <div class="jumbotron" style="text-align: center;">
	    <div class="container">
  	     <img class="img-responsive" src="img/logo/logo2.png" alt="Logo">
  	     <h1 style="font-weight: bold;">COMING SOON</h1>
  	     <p>Tired of assigned seats? Swap your seat with SeatSwappr!</p>
         <p>Would you like to help with beta testing? Join our mailing list to keep up with the latest on SeatSwappr!</p>

<!-- Begin MailChimp Signup Form -->
	<link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">

	<form action="//seatswappr.us1.list-manage.com/subscribe/post?u=e256d8d94b71d2e7b9185643c&amp;id=c8c018d127" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>


	<div class="mc-field-group">
			<input type="email" value="" name="EMAIL" id="fieldname1" placeholder="Email Address" style="color: black;">

			<input type="text" value="" name="MMERGE3" id="fieldname2" placeholder="Zip Code" style="color: black;" >

		 	<input type="submit" value="Subscribe" name="subscribe" class="btn btn-primary">
	</div>

	  <div id="mce-responses" class="clear">
			<div class="response" id="mce-error-response" style="display:none"></div>
			<div class="response" id="mce-success-response" style="display:none"></div>
		</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
	</form>

	<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[3]='MMERGE3';ftypes[3]='zip';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->


	   </div>
	    <div class="social" style="padding-top: 20px;">
	      <a href="https://www.facebook.com/SeatSwappr" class="btn btn-theme"><span class="faspan"><i class="fa fa-facebook"></span></i></a>
	      <a href="https://twitter.com/seatswappr" class="btn btn-theme"><span class="faspan"><i class="fa fa-twitter"></i></span></a>
	      <a href="https://plus.google.com/110380317606391783958/" class="btn btn-theme"><span class="faspan"><i class="fa fa-google-plus"></i></span></a>      
	    </div>
	    <div class="social">
	    	<p>Follow our blog:<a href="http://seatswappr.tumblr.com/" class="btn btn-theme"><span class="faspan"><i class="fa fa-tumblr"></i></span></a></p>
	    </div>

	  </div>
	<% end %>

	<!-- About Us -->
	<div class="AboutUs" style="text-align: center; margin-bottom: 50px;">
	  <div class="about">
	    <h3 class="sectionheading">About</h3>
	    <hr>
	    <p class="lead"><strong>Oh No!  </strong>You don’t have seats together for your domestic or long direct international flight? You don't like the seat assigned to you by the airline? You want to be closer to the front of the plane to deplane faster? You just want to swap your seat because you can? 
	    </p>
	    <p class="lead"><strong>Don't Worry!  </strong>SeatSwappr is a peer to peer seat exchange where you can negotiate a seat swap with other passengers prior to boarding. We hope to eliminate the pre-boarding anxiety of asking fellow passengers to swap seats.
	    </p>
	    <br>
	  </div>
	  <!-- How it Works -->
	  <h3 class="sectionheading">How it Works</h3>
	  <hr>
	  <div class="row">
	    <div class="col-sm-3 feature-box-container">
	      <div class="feature-box wow fadeInDown">
	        <div class="icon">
	          <i class="fa fa-usd"></i>
	        </div>
	        <div class="description">
	          <h4>Sell</h4>
	          <p>Passengers who don’t mind swapping will first post their seats for sale on SeatSwappr</p>
	        </div>
	      </div>
	    </div>
	    <div class="col-sm-3 feature-box-container">
	      <div class="feature-box wow fadeInDown">
	        <div class="icon">
	          <i class="fa fa-search"></i>
	        </div>
	        <div class="description">
	          <h4>Search</h4>
	          <p>Passengers looking for a better seat search for the desired seat(s) for swap on their flight</p>
	        </div>
	      </div>
	    </div>
	    <div class="col-sm-3 feature-box-container">
	      <div class="feature-box wow fadeInDown" data-wow-delay="0.2s">
	        <div class="icon">
	          <i class="fa fa-commenting"></i> 
	        </div>
	        <div class="description">
	          <h4>Communicate</h4>
	          <p>If you find a seat you want, start the conversation. Send the passenger a request to swap seats</p>
	        </div>
	      </div>
	    </div>
	    <div class="col-sm-3 feature-box-container">
	      <div class="feature-box wow fadeInDown" data-wow-delay="0.4s">
	        <div class="icon">
	          <i class="fa fa-retweet"></i>
	        </div>
	        <div class="description">
	          <h4>Swap</h4>
	          <p>After the swap details are determined, simply swap seats after boarding with your original boarding pass.</p>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>

	<!-- Team -->
	<h3 class="sectionheading">Our Team</h3>
	<hr>
	<div class="carousel-wrapper" style="height: 400px;">
	  <span id="target-item-1"></span>
	  <span id="target-item-2"></span>
	  <span id="target-item-3"></span>
	  <span id="target-item-4"></span>
	  <div class="carousel-item item-1">
	    <div class="col-sm-4 col-md-3">
	      <div class="thumbnail">
	        <img src="img/portraits/1.jpg" alt="shreyas.jpg">
	        <div class="caption">
	          <h3>Shreyas Parikh</h3>
	          <p>He made the swapping seats site idea come to life.</p>
	          <p><a href="https://www.facebook.com/Shrey.Parikh8484" class="btn btn-theme"><i class="fa fa-facebook"></i></a>
	          <a href="https://www.linkedin.com/pub/shreyas-parikh/30/390/132" class="btn btn-theme"><i class="fa fa-linkedin"></i></a></p>
	        </div>
	      </div>
	    </div>
	      <a class="arrow arrow-prev" href="#target-item-4"></a>
	      <a class="arrow arrow-next" href="#target-item-2"></a>
	  </div>

	  <div class="carousel-item item-2">
	    <div class="col-sm-4 col-md-3">
	      <div class="thumbnail">
	        <img src="img/portraits/4.jpg" alt="neha.jpg">
	        <div class="caption">
	          <h3>Neha Parikh</h3>
	          <p>She knows analytics and how to use social media.</p>
	          <p><a href="https://www.facebook.com/neha.sachdev.315" class="btn btn-theme"><i class="fa fa-facebook"></i></a>
	          <a href="https://www.linkedin.com/in/neha-parikh-4a49912b" class="btn btn-theme"><i class="fa fa-linkedin"></i></a></p>
	        </div>
	      </div>
	    </div>
	      <a class="arrow arrow-prev" href="#target-item-1"></a>
	      <a class="arrow arrow-next" href="#target-item-3"></a>
	  </div>

	  <div class="carousel-item item-3">
	    <div class="col-sm-4 col-md-3">
	      <div class="thumbnail">
	        <img src="img/portraits/2.jpg" alt="dan.jpg">
	        <div class="caption">
	          <h3>Daniel Rosino</h3>
	          <p>He can do wonders with HTML/CSS.</p>
	          <p><a href="https://www.facebook.com/daniel.rosino" class="btn btn-theme"><i class="fa fa-facebook"></i></a>
	          <a href="https://www.linkedin.com/pub/dan-rosino/1/b76/829" class="btn btn-theme"><i class="fa fa-linkedin"></i></a></p>
	        </div>
	      </div>
	    </div>
	    <a class="arrow arrow-prev" href="#target-item-2"></a>
	    <a class="arrow arrow-next" href="#target-item-4"></a>
	  </div>
	  <div class="carousel-item item-4">
	    <div class="col-sm-4 col-md-3">
	      <div class="thumbnail">
	        <img src="img/portraits/3.jpg" alt="gunjan.jpg">
	        <div class="caption">
	          <h3>Gunjan Patel</h3>
	          <p>He has the marketing ideas and strategies.</p>
	          <p><a href="https://www.facebook.com/patelgunjan" class="btn btn-theme"><i class="fa fa-facebook"></i></a>
	          <a href="https://www.linkedin.com/in/patelgunjan" class="btn btn-theme"><i class="fa fa-linkedin"></i></a></p>
	        </div>
	      </div>
	    </div>
	    <a class="arrow arrow-prev" href="#target-item-3"></a>
	    <a class="arrow arrow-next" href="#target-item-1"></a>
	  </div>
	</div>

	<!-- Contact Us -->
	<div class="contact" style="margin-bottom: 30px; margin-top: 10px;">
	  <h3 class="sectionheading">Contact</h3>
	  <hr>
	    <div class="row">
	      <div class="col-sm-6">
	        <p><strong>What do you think?</strong> Please let us know if you have question or any suggestions to make SeatSwappr even better. We would love to hear from you. SeatSwappr base:</p>
	        <ul class="list-contacts">
	          <!--<li><i class="fa fa-phone"></i></li>
	          <li><i class="fa fa-mobile-phone"></i></li>-->
	          <li><i class="fa fa-map-marker"></i> New York, New York</li>
	        </ul>
	      </div>
	      <div class="col-sm-6">
	        <%= render :partial => "contacts/form", :locals => {:contact => Contact.new} %>
	      </div>  
	    </div>
	</div>
</body>



