/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require select2
 */

@import "bootstrap";
@import 'bootstrap/theme';

body {
  background: white;
}

.landing .navbar {
  display: none;
}

html {
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.container {
  margin: 0 auto;
}

#subscribe {
  color: black;
}
#fieldname1 {
  margin: 5px;
  width: 300px;
  height: 30px;
  padding-left: 5px;
}
#fieldname2 {
  margin: 5px;
  width: 100px;
  height: 30px;
  padding-left: 5px;
}
.jumbotron {
  background-image: url('../img/background/2.jpg');
  background-size: cover;
  background-position: 0% 35%; 
  color: white; 
}
.jumbotron img {
    max-width: auto;
    height: auto;

}
.jumbotron p {
  font-weight: bold;
  margin: 10px;
}
.img-responsive {
    display: block;
    margin: auto;
    margin-top: -50px;
}

.messages {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 1em;
  margin-top: 1em;
}

.alert-alert {
  @extend .alert-warning;
}

.alert-notice {
  @extend .alert-info;
}

a i {
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  font-size: 25px;
  text-align: center;
  margin-right: 10px;
  padding-top: 20%;
}
.social a i {
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  font-size: 25px;
  text-align: center;
  margin-right: 10px;
  padding-top: 15%;
}
.faspan {
  font-size: 25px;
}

.fa-facebook {
  background:#3b5998;
}
.fa-linkedin {
  background:#007bb6;
}
.fa-twitter {
  background:#00aced;
}
.fa-tumblr {
  background: #32506d;
}
.fa-google-plus {
  background:#dd4b39;
}
@media 
only screen and (max-width: 770px)  {
.fa-facebook {
  background:#3b5998;
}
.fa-linkedin {
  background:#007bb6;
}
.fa-twitter {
  background:#00aced;
}
.fa-tumblr {
  background: #32506d;
}
.fa-google-plus {
  background:#dd4b39;
}
  body {
    background: white;
    margin: auto;
  }
  
  .jumbotron {
    background-image: url('../img/background/4.jpg');
    background-size: cover; 
  }
  .jumbotron p {
    font-weight: bold;
    color: #474545;
  }
  .jumbotron h1 {
    font-weight: bold;
    color: #474545;
  }
  /* Force table to not be like tables anymore */

  .table, .table thead, .table tbody, .table th, .table td, .table tr { 
    display: block; 
  }
  
  /* Hide table headers (but not display: none;, for accessibility) */
  .table thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  
  .table tr { border: 1px solid #ccc; }
  
  .table th {
    padding: 6px; 
    font-weight: bold;
  }

  .table td { 
    /* Behave  like a "row" */
    padding: 6px; 
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%; 
  }
  
  .table td:before { 
    /* Now like a table header */

    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    right: 12px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
  }
  
  /*
  Label the data
  */
  .table td:nth-of-type(1):before { content: "Departure Date:"; font-weight: bold;}
  .table td:nth-of-type(2):before { content: "Departure Airport:"; font-weight: bold;}
  .table td:nth-of-type(3):before { content: "Airline:"; font-weight: bold;}
  .table td:nth-of-type(4):before { content: "Flight Number:"; font-weight: bold;}
  .table td:nth-of-type(5):before { content: "Seat Number:"; font-weight: bold;}
  .table td:nth-of-type(6):before { content: "Seat Description:"; font-weight: bold;}
  .table td:nth-of-type(7):before { content: "Price:"; font-weight: bold;}
  .table td:nth-of-type(8):before { content: "Actions:"; font-weight: bold;}


  /* Zebra striping */
    .table tr:nth-of-type(odd) { 
    background: #eee; 
  }

  .feature-box-container{
    margin: 0;
  }
  .feature-box {
    height: 300px;
  }

  .carousel-item {
    text-align: center;
    width: 100%;

    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
  }

  .carousel-wrapper {
    position: relative;
    text-align: center;

  .carousel-item {
    position: absolute;
    text-align: center;
    background: #F0F0F0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 50px;

    opacity: 0;
    transition: all 0.5s ease-in-out;

    .thumbnail {
      border-style: none;
  
    }
    .fa-facebook {
      background:#3b5998;
      margin: 0px;
    }
    .fa-linkedin {
      background:#007bb6;
    }
    .caption {
      height: 155px;
    }
    .arrow {
    position: absolute;
    top: 0;
    display: block;
    width: 50px;
    height: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    background: url("/img/chevron-left.png") 50% 50% / 20px no-repeat;

      &.arrow-prev {
        left: 0;
      }
      &.arrow-next {
        right: 0;
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
      }
    }

    /* I really like how these carousel items look on a dark image background, so if a .carousel-item div has the class 'light', we'll make its text color white, and use a white arrow instad of
    a dark gray one. Again, make sure this arrow image exists somewhere */
    &.light {
      color: white;

      .arrow {
        background: url("/carousel-arrow-light.png") 50% 50% / 20px no-repeat;
      }
    }

    /* Let's use using some media queries to resize the arrows on smaller devices.*/
    @media (max-width: 480px) {
      .arrow, &.light .arrow {
        background-size: 10px;
        background-position: 10px 50%;
      }
    }
  }

  /* Let's set our jump link targets display: none; so that we're not making the browser jump to the top of the carousel whenever a user clicks on one of our arrow links. This attribute selector will target any element whose id starts with 'target-item'. */
  [id^="target-item"] {
    display: none;
  }

  /* So, up above we made all our carousel items transparent, which means that on page-load, we'd have a big empty box where our carousel should be.
  Let's set our first item's opacity to 1 so that it displays instead. Also, we're setting its z-index to 2, so that it's positioned on top of the
  other carousel items. */
  .item-1 {
    z-index: 2;
    opacity: 1;
  }

  /* But we don't want the first item to ALAWYS be opacity: 1; otherwise it would peek through when cycling between items two and above. */
  *:target ~ .item-1 {
    opacity: 0;
  }

  /* ...but if #target-item-1 is targeted, well we do want the first item to show up, so we're selecting it with the ~ sibling selector and
  setting its opacity to 1 again :-) */
  #target-item-1:target ~ .item-1 {
    opacity: 1;
  }

  /* If any other target-item-# is targeted, let's select it using the sibling selector, make it fade in, and place it on top of the pile using z-index: 3.  Here's where you'd add more target items if your carousel has more than three items. It might be worth adding like 10 items right off the bat. */
  #target-item-2:target ~ .item-2, #target-item-3:target ~ .item-3, #target-item-4:target ~ .item-4 {
    z-index: 3;
    opacity: 1;
  }
}
}

.carousel-wrapper {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.sectionheading {
  margin-bottom: 20px;
  text-align: center;
}
hr { 
    border-width: 4px;
    border-color: #DA6652;
    width: 100px;
}

.thumbnail {
  background: #F0F0F0;
  padding-top: 20px;
  text-align: center;
}


.footer {
  text-align: center; 
  margin-bottom: 30px; 
  margin-top: 30px;
}

.feature-box-container:last-child{
  margin-bottom: 0;
}

.feature-box {
  text-align: center;
  background: #F0F0F0;
}

.feature-box .icon {
  width: 100px;
  height: 55px;
  color: #fff;
  position: relative;
  background: #bbbcbc;
  margin: 35px auto 20px;
  background-color: #1D477B;
}
.feature-box .icon i:hover {
  color: #DA6652; 
} 
.feature-box .icon:before {
  content: "";
  position: absolute;
  top: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 25px solid #1D477B;
}

.feature-box .icon:after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 25px solid #1D477B;
}

.feature-box .icon i {
  font-size: 35px;
  padding-top: 12px;
  display: block;
}

.feature-box .description {
  padding: 20px 15px 10px;
}

.feature-box .description p {
  font-size: 14px;
}
